@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}

body {
    background-color: black;
    color: aliceblue;
    overscroll-behavior: none;
    height: 100%;
    margin: 0;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

section.fade-in {
    opacity: 1;
}

show {
    display: block;
}

#header {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    margin: 10px;
}

h1 {
    font-size: 100px;

}

.rotate {

    font-size: 80px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#h2Project {
    position: absolute;
    right: 20px;
}

.admittanceofguilt {

    position: absolute;
    top: 20px;
    left: 0px;
    margin: 10px;
}

.projects {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 10px;
}

#groupImage {
    position: absolute;
    right: 200px;
    border: 20px solid aliceblue;
}

#groupPar {
    position: absolute;
    left: 50px;
}

#selfImage {
    position: absolute;
    right: 300px;
}

#selfPar {
    position: absolute;
    left: 100px;
}

#h1About {
    position: absolute;
    top: 0px;
    left: 0px;
}

#audrey {
    align-self: center;
}

#proficiencies {
    position: absolute;
    left: 50px;
}

#about {
    text-align: center;
    position: absolute;
    bottom: 50px;

}

#hateIt {
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

#contact {
    position: absolute;
    top: 20px;
}

.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.show {
    opacity: 1;
}

#airplane {
    position: absolute;
    bottom: 0;
    left: 0;
}

#email {
    position: absolute;
    top: 325px;
    left: 450px;
}

#eAddress {
    position: absolute;
    left: 600px;
}

#warning {
    text-align: left;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#recieved {
    position: absolute;
    top: 150px;
    right: 20px;
}

/*                      BORROWED ELEMENTS                  */

/* this css gives me a template for a button that i think looks nice with the aesthetic of my website */
/* credit to copy-paste-css.com */
.bbutton {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 3px;
    color: aliceblue;
    background: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align: center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);

    :hover {
        color: black;
        background: aliceblue;
    }
}

/* this is the css for a typewriting effect that i thought looked nice with the aesthetic of my website */
/* this is from Geoff Graham */
.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid aliceblue;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: aliceblue;
    }
}